/*
************
Reset
************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*************
Common
*************
*/

body {
  background-color: #f6f8f9;
}

/*
*************
Typo
*************
*/

body {
  font-family: 'Roboto', sans-serif;
}

/*
************
Header
************
*/

header {
  padding: 10px 20px;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

#logo {
  vertical-align: middle;
}
